#pwacommerce-admin {
  @for $i from 0 through 60 {
    .spacer-#{$i} {
      @include wbz-spacer(#{$i}px);
    }
  }

  width: 100%;

  .left-side {
    display: block;
    float: left;
    width: 74%;
    padding-right: 10px;
    min-width: 500px;
  }

  .right-side {
    display: block;
    float: left;
    width: 23%;
    min-width: 200px;
    padding-left: 10px;
  }

  hr.separator {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid $base-turquoise;
    margin: 1em 0;
    padding: 0;
  }

  a {
    text-decoration: none;
  }
}
