#pwacommerce-admin {
  .custom-upload {
    position: relative;
    height: 36px;
    width: 450px;
    margin: 10px 0;

    &:hover {
      .fake-file {
        .btn {
          background: darken($base-grey, $darken-amounth/2);
          border: 1px solid darken($base-grey, $darken-amounth);
        }
        input {
          outline: none;
          border: 1px solid darken($input-border, $darken-amounth);
        }
      }
    }
    .remove {
      position: absolute;
      top: 15px;
      right: 152px;
      width: 13px;
      height: 13px;
      z-index: 3;
      @include wbz-border-radius(16px);
      padding: 3px;
    }
  }
  .custom-upload input[type="file"] {
    outline: none;
    position: relative;
    text-align: right;
    @include wbz-opacity(0);
    z-index: 2;
    width: 370px;
    height: 100%;
  }
  .custom-upload .fake-file {
    position: relative;
    top: -38px;
    left: 0px;
    width: 430px;
    padding: 0;
    margin: 0;
    z-index: 1;
    line-height: 100%;
    @include wbz-display-box();

    .btn {
      margin: 0px 0px 0px 10px;
    }
  }
  .custom-upload .fake-file input {
    width: 300px;
    font-family: "AcordeSemiBold", sans-serif;
    color: $input-color;
    font-size: $input-font-size;
    margin: 0;
  }
  .display-icon {
    @include wbz-display-box();
    @include wbz-box-orient(horizontal);
    @include wbz-box-pack(start);
    @include wbz-box-align(center);
    text-align: left;
    height: 120px;

    .edit {
      margin: 47px 0 0 0;
      vertical-align: middle;
      text-align: center;
      float: left;
    }
    .remove {
      display: inline-block;
      margin: 55px 0 0 10px;
    }
    img {
      width: 120px;
      height: 120px;
      @include wbz-border-radius(120px);
      @include wbz-box-shadow(inset 0 0 5px 1px rgba(0,0,0,0.1));
      display: inline-block;
      margin: 0 25px;
      float: left;
    }
    label {
      width: 100px;
      display: inline;
      float: left;
      margin: 55px 0 0 0;
    }
  }
  .cancel-link {
    position: relative;

    .cancel {
      position: absolute;
      top: -30px;
      right: 400px;
    }
  }

  .change {
    vertical-align: baseline !important;
  }

  .browse {
    &:hover {
      background-color: #939494;
    }
  }

  .theme-switcher {
    .theme-name {
      font-size: 15px;
      font-weight: 600;
      height: 18px;
      padding: 15px 110px 15px 15px;
      overflow: hidden;
      background: #fff;
      margin: 0;
    }

    .active {
      display: inline-block;

      .theme-name {
        background: #23282d;
        color: #fff;
        font-weight: 300;
        text-align: end;
      }
    }
  }
}
