@mixin wbz-inline-icon($name, $font-size: 15px, $font-family: "Appticles") {
  $character: wbz-icon-character-for-name($name);

  &:before {
    position: relative;
    text-align: center;
    font-family: $font-family !important;
    font-size: $font-size !important;
    font-weight: normal !important;

    @if $character {
      content: "#{$character}";
    } @else {
      content: "#{$name}";
    }
  }
}

@function wbz-icon-character-for-name($name) {
  // Row 1
  @if ($name == "close-x") {
    @return "\31";
  } @else {
    // @debug "#icon: icon with name '#{$name}' not found.";
    @return false;
  }
}
